{% extends 'base.html' %}


{% block title %}Accounts{% endblock %}


{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='/styles/accounts.css') }}">

    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
{% endblock %}


{% block content %}
    <form action="/account_action" method="POST">
        <div class="accounts_table" spellcheck="false">
            <table class="editableTable">
                <h2>Accounts</h2>
                <thead>
                    <tr>
<!--                        TODO add checkbox the checkbox header to select all entries-->
                        <th> </th>
                        <th>ID</th>
                        <th>USERNAME</th>
                        <th>EMAIL</th>
                        <th>FIRST NAME</th>
                        <th>MIDDLE NAME</th>
                        <th>LAST NAME</th>
                        <th>CONTACT NO.</th>
                        <th>ACCOUNT CREATED</th>
                        <th>OFFICE</th>
                        <th>USER LEVEL</th>
                        <th>STATUS</th>
                        <th>ACCOUNT REVIEW</th>
                    </tr>
                </thead>
                <tbody>
                    {% for account in active_accounts%}
                    <tr>
                        <!-- TODO enlarge checkboxes / change to custom cell-->
                        <td><input type="checkbox" name="active_checkbox" id="active_checkbox" value="{{ account.account_id }}"></td>
                        <td>{{ account.account_id }}</td>
                        <td>{{ account.username }}</td>
                        <td>{{ account.email }}</td>
                        <td>{{ account.first_name }}</td>
                        <td>{{ account.middle_name }}</td>
                        <td>{{ account.last_name }}</td>
                        <td>{{ account.contact_no }}</td>
                        <td>{{ account.acct_created }}</td>
                        <td>{{ account.office_location }}</td>
                        <td>{{ account.user_level }}</td>
                        <td>{{ account.acct_status }}</td>
                        <td>{{ account.acct_review_date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="accounts_btns">
            <button type="submit" name="action" value="create">NEW ACCOUNT</button>
            <button type="submit" name="action" value="archive">ARCHIVE</button>
            <button type="submit" name="action" value="reset">RESET PASSWORD</button>
        </div>
        
        <div class="pending_accounts_table" spellcheck="false">
            <table class="editableTable">
                <h2>Pending Account Requests</h2>
                <thead>
                    <tr>
                        <th> </th>
                        <th>ID</th>
                        <th>USERNAME</th>
                        <th>EMAIL</th>
                        <th>FIRST NAME</th>
                        <th>MIDDLE NAME</th>
                        <th>LAST NAME</th>
                        <th>CONTACT NO.</th>
                        <th>ACCOUNT CREATED</th>
                        <th>OFFICE</th>
                        <th>USER LEVEL</th>
                        <th>STATUS</th>
                        <th>ACCOUNT REVIEW</th>
                    </tr>
                </thead>
                <tbody>
                    {% for account in pending_accounts%}
                    <tr>
                        <td><input type="checkbox" name="pending_checkbox" id="pending_checkbox" value="{{ account.account_id }}"></td>
                        <td>{{ account.account_id }}</td>
                        <td>{{ account.username }}</td>
                        <td>{{ account.email }}</td>
                        <td>{{ account.first_name }}</td>
                        <td>{{ account.middle_name }}</td>
                        <td>{{ account.last_name }}</td>
                        <td>{{ account.contact_no }}</td>
                        <td>{{ account.acct_created }}</td>
                        <td>{{ account.office_location }}</td>
                        <td>{{ account.user_level }}</td>
                        <td>{{ account.acct_status }}</td>
                        <td>{{ account.acct_review_date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="pending_accounts_btns">
            <button type="submit" name="action" value="approve">APPROVE</button>
            <button type="submit" name="action" value="decline">DECLINE</button>
        </div>
    </form>
{% endblock %}


{% block extra_scripts %}
    <script>
        $(document).ready(function() {
            // Initialize DataTable for tables with the "editableTable" class
            $('.editableTable').each(function() {
                var table = $(this).DataTable(); // Initialize each table with the "editableTable" class
            
                // Add clear button next to the default search input field
                $(this).closest('.dataTables_wrapper').find('.dataTables_filter').append('<button class="clearSearch" style="margin-left: 10px;">Clear</button>');
            
                // Clear search input when the clear button is clicked
                $(this).closest('.dataTables_wrapper').find('.clearSearch').click(function() {
                    $(this).closest('.dataTables_wrapper').find('.dataTables_filter input').val('');  // Clear the search input field
                    table.search('').draw();  // Reset the DataTable search
                });
            });
        });
        
    </script>
{% endblock %}
