{% extends 'base.html' %}


{% block title %}Audit Logs{% endblock %}


{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/accounts.css') }}">

    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
{% endblock %}

<!--todo ADD COLOR CODING ON THE TABLE HEADER BASED ON MODULE IN CSS-->
{% block content %}
<div class="module_name">
    <h1>Audit Trail</h1>
</div>
    <form>
        <div class="audit-logs_table" spellcheck="false">
            <table class="editableTable">
                <thead>
                    <tr>
                        <th> </th>
                        <th>ID</th>
                        <th>DATE</th>
                        <th>USERNAME</th>
                        <th>USER LEVEL</th>
                        <th>ACTION NAME</th>
                        <th>DESCRIPTION</th>
                        <th>ACCOUNT ID</th>
                    </tr>
                </thead>
                <tbody>
                    {% for log in logs%}
                    <tr>
                        <!-- TODO enlarge checkboxes / change to custom cell-->
                        <td><input type="checkbox" name="active_checkbox" id="active_checkbox" value="{{ log.action_id }}"></td>
                        <td>{{ log.action_id }}</td>
                        <td>{{ log.date }}</td>
                        <td>{{ log.staff_name }}</td>
                        <td>{{ log.user_level }}</td>
                        <td>{{ log.action_name }}</td>
                        <td>{{ log.description }}</td>
                        <td>{{ log.account_id }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="inventory_btns">
            <button type="submit" name="print_report">Print Report</button>
        </div>
    </form>
{% endblock %}


{% block extra_scripts %}
    <script>
        $(document).ready(function() {
            // Initialize DataTable for tables with the "editableTable" class
            $('.editableTable').each(function() {
                var table = $(this).DataTable(); // Initialize each table with the "editableTable" class

                // Add clear button next to the default search input field
                $(this).closest('.dataTables_wrapper').find('.dataTables_filter').append('<button class="clearSearch" style="margin-left: 10px;">Clear</button>');

                // Clear search input when the clear button is clicked
                $(this).closest('.dataTables_wrapper').find('.clearSearch').click(function() {
                    $(this).closest('.dataTables_wrapper').find('.dataTables_filter input').val('');  // Clear the search input field
                    table.search('').draw();  // Reset the DataTable search
                });
            });
        });

    </script>
{% endblock %}
