{% extends 'base.html' %}


{% block title %}Claims{% endblock %}


{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='/styles/accounts.css') }}">

    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
{% endblock %}

<!--TODO ADD COLOR CODING BASED ON CATEGORY IN CSS-->
<!--TODO ADD COLOR CODING ON THE TABLE HEADER BASED ON MODULE IN CSS-->
<!--TODO add filed by, date filed, date of loss, received by, field; check claim reqs. paper for other fields that may need to be included -->

{% block content %}
<div class="module_name">
    <h1>Manage Claims</h1>
</div>
    <form action="/claims_action" method="POST">
        <div class="claims_table" spellcheck="false">
            <table class="editableTable">
                <thead>
                    <tr>
                        <th> </th>
                        <th>CLAIM_ID</th>
                        <th>DATE FILED</th>
                        <th>CLAIM SOURCE</th>
                        <th>PRINCIPAL INSURED FIRST NAME</th>
                        <th>PRINCIPAL INSURED MIDDLE NAME</th>
                        <th>PRINCIPAL INSURED LAST NAME</th>
                        <th>MAAB NO.</th>
                        <th>EFFECTIVITY</th>
                        <th>CLAIMANT FIRST NAME</th>
                        <th>CLAIMANT MIDDLE NAME</th>
                        <th>CLAIMANT LAST NAME</th>
                        <th>RELATIONSHIP</th>
                        <th>CONTACT NO.</th>
                        <th>EMAIL</th>
                        <th>CLAIM REMARKS</th>
                        <th>STATUS</th>
                        <th>DATE RELEASED</th>
                        <th>CHINABANK CHECK NO.</th>
                        <th>CHINABANK AMOUNT</th>
                        <th>BPI CHECK NO.</th>
                        <th>BPI AMOUNT</th>
                        <th>RELEASE REMARKS</th>
                        <th>SCANNED DOCS</th>
                        <th>PRM FILE</th>
                        <th>QUIT CLAIM FILE</th>
                        <th>PICKED UP</th>
                        <th>DATE PICKED UP</th>
                    </tr>
                </thead>
                <tbody>
<!--                TODO FIX THE TEMPLATES-->
                    {% for account in active_accounts%}
                    <tr>
                        <!-- TODO enlarge checkboxes / change to custom cell-->
                        <td><input type="checkbox" name="active_checkbox" id="active_checkbox" value="{{ account.account_id }}"></td>
                        <td>{{ account.account_id }}</td>
                        <td>{{ account.username }}</td>
                        <td>{{ account.email }}</td>
                        <td>{{ account.first_name }}</td>
                        <td>{{ account.middle_name }}</td>
                        <td>{{ account.last_name }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="inventory_btns">
            <button type="submit" name="action" value="create">PLACEHOLDER</button>
            <button type="submit" name="action" value="archive">PLACEHOLDER</button>
            <button type="submit" name="action" value="reset">PLACEHOLDER</button>
        </div>
    </form>
{% endblock %}


{% block extra_scripts %}
    <script>
        $(document).ready(function() {
            // Initialize DataTable for tables with the "editableTable" class
            $('.editableTable').each(function() {
                var table = $(this).DataTable(); // Initialize each table with the "editableTable" class

                // Add clear button next to the default search input field
                $(this).closest('.dataTables_wrapper').find('.dataTables_filter').append('<button class="clearSearch" style="margin-left: 10px;">Clear</button>');

                // Clear search input when the clear button is clicked
                $(this).closest('.dataTables_wrapper').find('.clearSearch').click(function() {
                    $(this).closest('.dataTables_wrapper').find('.dataTables_filter input').val('');  // Clear the search input field
                    table.search('').draw();  // Reset the DataTable search
                });
            });
        });

    </script>
{% endblock %}
