<!DOCTYPE html>
    <html lang="en0">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>IFGMS - Login</title>
            <link rel="stylesheet" href="/static/styles/login_style.css">
            <link rel="icon" href="/static/assets/favicon.ico" type="image/x-icon">
        </head>

        <body style="background-image: url(/static/assets/IFGMS-bg.png);">
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
    document.addEventListener("DOMContentLoaded", function () {
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    let flashData = JSON.parse(`{{ message | tojson | safe }}`);

                    Swal.fire({
                        icon: '{{ category }}',  // "success" or "error"
                        title: flashData.title,
                        text: flashData.text,
                        showConfirmButton: true,
                        confirmButtonText: "Continue",
                        allowOutsideClick: false,

                        confirmButtonColor: '#891b19',  // confirm button color
                        background: '#1e0b4ad8',  // background color
                        color: '#ffffff'    //text color
                    }).then((result) => {
                        if (result.isConfirmed) {
                            window.location.href = flashData.redirect_url; // Redirect after clicking "OK"
                        }
                    });
                {% endfor %}
            {% endif %}
        {% endwith %}
    });
    </script>

            <img src="/static/assets/IFGMS-login_ids.png" alt="Classic ID" class="login_id">

            <div class="container">
                <div class="right-container">
                    <img src="/static/assets/IFGMS-login_logo.png" alt="logo" class="login_logo">
                    
                    <!-- replace with the actual login page -->
                    <form action="/login" method="POST" class="login_form">
                        <p class="login_note">Please login to continue.</p>

                        <input type="text" id="username" name="username" placeholder="Username" required autocomplete="off"> 
                        <input type="password" id="password" name="password" placeholder="Password" required autocomplete="off">
                        
                        <!-- remove onclick attr when login logic is implemented -->
                        <button type="submit" class="login_btn">Login</button>
                        <!-- onclick="window.location.href='home.html';" -->
                        
                        <!-- replace with the actual forgot password page -->
                        <div class="forgot-password">
                            <a href="/forgot_password">Forgot Password?</a>
                        </div>
                        
                        <div class="forgot-password">
                        <a href="/create_account">Request Account</a>
                        </div>
                    </form>


                </div>
            </div>
        </body>    
    </html>