{% extends 'base.html' %}


{% block title %}Inventory{% endblock %}


{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='/styles/accounts.css') }}">

    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
{% endblock %}

<!--todo ADD COLOR CODING BASED ON CATEGORY IN CSS-->
<!--todo ADD COLOR CODING ON THE TABLE HEADER BASED ON MODULE IN CSS-->

{% block content %}
<div class="module_name">
    <h1>Inventory</h1>
</div>
    <form action="/inventory_action" method="POST">
        
        <div class="inventory_table" spellcheck="false">
            <table class="editableTable">
                <thead>
                    <tr>
                        <th> </th>
                        <th>ID</th>
                        <th>CATEGORY</th>
                        <th>MAAB NO.</th>
                        <th>USED</th>
                        <th>REMARKS</th>
                        <th>ALLOCATED TO</th>
                    </tr>
                </thead>
                <tbody>
                    {% for account in active_accounts %}
                    <tr>
                        <td><input type="checkbox" name="active_checkbox" id="active_checkbox" value="{{ account.account_id }}"></td>
                        <td>{{ account.account_id }}</td>
                        <td>{{ account.username }}</td>
                        <td>{{ account.email }}</td>
                        <td>{{ account.first_name }}</td>
                        <td>{{ account.middle_name }}</td>
                        <td>{{ account.last_name }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="inventory_btns">
            <button type="submit" name="action" value="create">CREATE</button>
            <button type="submit" name="action" value="archive">ARCHIVE</button>
            <button type="submit" name="action" value="reset">RESET</button>
        </div>
        
    </form>
{% endblock %}
{% block extra_scripts %}
    <script>
        $(document).ready(function() {
            $('.editableTable').DataTable();
            $(this).closest('.dataTables_wrapper').find('.dataTables_filter').append('<button class="clearSearch" style="margin-left: 10px;">Clear</button>');
            $(this).closest('.dataTables_wrapper').find('.clearSearch').click(function() {
                $(this).closest('.dataTables_wrapper').find('.dataTables_filter input').val('');
                table.search('').draw();
            });
        });
    </script>
{% endblock %}