body {
    background-color: #f3e8e8;
    padding: 10px;
}

label {
    font-weight: bold;
}

.ht_master .wtHolder {
    padding-bottom: 1%; /* adjust this value */
}

.ht_clone_top {
    z-index: 1 !important; /* Lower the table header clone z-index */
}

.ht_clone_left {
    z-index: 1 !important; /* Lower the table header clone z-index */
}

.ht_clone_top_left_corner {
    z-index: 1 !important; /* or any value lower than your navbar */
}

.handsontable .ht_master {
    background-color: #f9f9f9;  /* light grey, change as needed */
}
#claims_table .htSearchResult {
    background-color: rgba(63, 173, 33, 0.648) !important;
    color: #000000;
}

/* TODO remove when done styling the form */
#overlay {
  /* display: flex !important; */
}

.overlay {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 9999;

    
    /* disable highlighting */
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;
}

.overlay-content {
    background: #f3e8e8;
    width: 100%;
    margin: 1% 1%;
    padding: 20px;
    border-radius: 10px;
    position: relative;
}

.close-overlay {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    font-size: 28px;
    font-weight: bold;
}

.overlay-body {
    display: flex;
    flex-direction: column;
    /* align-items: center; */

    width: 100%;
    height: 100%;           /* Set a fixed height, not max-height */
    overflow: auto;
    box-sizing: border-box;
}

table {
    width: 100%;
}

/* TODO add alternating gray/white color to rows */
table, th, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
    margin-bottom: 1%;
}

th {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #2d1d52;
    color: white;
    border-color: white;
    font-size: 14px;
    /*TODO set the headers to center*/
}

td {
    text-align: center;
    padding: 5px;
}

td input {
    width: 95%;
}

td input[type="checkbox"] {
    transform: scale(1.5);
}

td select {
    width: 95%;
}

#entries_table {
    min-width: 100%;
    height: 100%;  
}

/* SWITCH BUTTON STYLE */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 25px;
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    background-color: #5850ca;
    transition: .4s;
    border-radius: 34px;
    top: 0; left: 0; right: 0; bottom: 0;
}

.slider:before {
    content: "";
    position: absolute;
    height: 16px;
    width: 16px;
    left: 4px; bottom: 4px;
    background-color: #ffffff;
    transition: .1s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #b86152;
}

input:checked + .slider:before {
    transform: translateX(16px);
}
/* SWITCH BUTTON STYLE END */

/* margin on right disappears when this is on */
.second_row_off {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    margin-right: 20px; /* not working */
}

.bottom_section {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    margin-top: 20px;
}

.requiements_section {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 1%;

}

.requiements_section ul label {
    font-weight: normal;
    margin-left: 10px;
    font-size: 18px;
}

.requiements_section ul {
    list-style-type: none;
    padding-left: 0; /* optional: removes default indentation */
}

.columns {
    border: 1px solid black;
    display: flex;
    width: auto;

    gap: 30px;
}

.release_section {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: auto;
    padding: 1%;
    gap: 20px;
}
.release_remarks_section {
    display: flex;
    flex-direction: column;
}

.release_sectin_column {
    display: flex;
    width: auto;
    flex-direction: column;
    flex: 1; /* optional: equal width columns */
}

.collapse_box_header {
    background-color: #4e474732;
    width: 100%;
    height: 4%;
    border-radius: 10px;
    margin-top: 1%;
}
.collapse_box_checkbox {
    display: none;
}

/* Base label style */
.collapse_box_label {
  cursor: pointer;
  font-size: 20px;
  user-select: none;
  /* margin-left: 1%; */
  margin: 1%
}
.collapse_box_label:hover {
  text-decoration: underline;
}
/* Default arrow (right) */
.collapse_box_label::before {
  content: "▶";  /* right-pointing triangle */
  display: inline-block;
  margin-right: 6px;
  transition: transform 1s;
}

/* Checked arrow (down) */
.collapse_box_checkbox:checked + .collapse_box_label::before {
  content: "▼";  /* down-pointing triangle */
  color: rgb(43, 208, 43);
}

.collapse_group {
    /* background-color: #5f0909bf; */
    border: 1px solid black;
    margin-bottom: 1%;
    display: flex;
    gap: 10px;
    padding: 10px;
}