:root {
    --app-font: "Montserrat", sans-serif;  /* default */
    --app-font-size: 16px;                 /* default */
}

/* Apply everywhere EXCEPT navbar */
body, body *:not(.navbar):not(.navbar *) {
    font-family: var(--app-font) !important;
    font-size: var(--app-font-size) !important;
}