html, body {
    padding: 0;
    height: 100%;
    overflow: hidden;
}

body {
    font-family: Arial, sans-serif;
    margin: 20;
    padding: 1rem;
    background: linear-gradient(135deg, #fbefd5, #f5e0ea); /* BACKGROUND */
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

.module_name {
    position: absolute;
    margin-top: 1.5%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);  
    color: rgb(232, 57, 57);
    text-align: center;  
    width: 100%;  
  }

.inventory_table {
    margin-top: 10px;
    width: 100%;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

th, td {
    border: 1px solid #ccc;
    padding: 14px;
    text-align: left;
}

th {
    background-color: #f5b8a9;
    color: #3a3a3a;
    font-weight: bold;
}

tbody tr:nth-child(odd) {
    background-color: #fafafa;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.inventory_btns {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.inventory_btns button {
    color: #212C62; 
    border: 1px solid #212C62; 
    padding: 5px 30px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 15px;
    transition: all 0.3s ease;
    font-weight: bolder;
}


.inventory_btns button:hover {
    background-color: #212C62; /* Teal background on hover */
    color: white;
    font-weight: bolder;
}
