body {
    background-color: #f3e8e8;
    padding: 10px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
}

label {
    font-weight: bold;
}

.ht_master .wtHolder {
    padding-bottom: 1%; /* adjust this value */
}

.ht_clone_top {
    z-index: 1 !important; /* Lower the table header clone z-index */
}

.ht_clone_left {
    z-index: 1 !important; /* Lower the table header clone z-index */
}

.ht_clone_top_left_corner {
    z-index: 1 !important; /* or any value lower than your navbar */
}

.handsontable .ht_master {
    background-color: #f9f9f9;  /* light grey, change as needed */
}
#members_table .htSearchResult {
    background-color: #c7db14a5 !important;
    color: #000000;
}

/* TODO remove when done styling the form */
#overlay {
  /* display: flex !important; */
}

.overlay {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 9999;

    /* disable highlighting */
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;
}

.overlay-content {
    background: #f3e8e8;
    width: 100%;
    margin: 1% 1%;
    padding: 30px;
    border-radius: 10px;
    position: relative;
}

.close-overlay {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    font-size: 28px;
    font-weight: bold;
}

.overlay-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;

    width: 100%;
    height: 100%;           /* Set a fixed height, not max-height */
    overflow: auto;
    box-sizing: border-box;
}

.record_details {
    display: block;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    width: 100%;
    /* height: 100%; */
}
.entry_details {
    display: block;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    width: 100%;
    /* height: 100%; */
}

table {
    width: 100%;
}

/* TODO add alternating gray/white color to rows */
table, th, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
    margin-bottom: 1%;
}

th {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #2d1d52;
    color: white;
    border-color: white;
    font-size: 14px;
    /*TODO set the headers to center*/
}

td {
    text-align: center;
    padding: 5px;
}

td input {
    width: 95%;
}

td input[type="checkbox"] {
    transform: scale(1.5);
}

td select {
    width: 95%;
}

#entries_table {
    min-width: 100%;
    height: 100%;  
}

/* SWITCH BUTTON STYLE */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 25px;
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    background-color: #5850ca;
    transition: .4s;
    border-radius: 34px;
    top: 0; left: 0; right: 0; bottom: 0;
}

.slider:before {
    content: "";
    position: absolute;
    height: 16px;
    width: 16px;
    left: 4px; bottom: 4px;
    background-color: #ffffff;
    transition: .1s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #b86152;
}

input:checked + .slider:before {
    transform: translateX(16px);
}
/* SWITCH BUTTON STYLE END */



.controls_box {
    /* border: #000000 1px solid; */
    border-bottom: 1px solid black;
    width: 99%;
    height: fit-content;
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-direction: row;
    gap: 15px;;
}
.controls_box button {
    background-color: #4e4747;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.controls_box button:hover {
    background-color: #3c3c3c;
}