.ht_master .wtHolder {
    padding-bottom: 1%; /* adjust this value */
}

.ht_clone_top {
  z-index: 1 !important; /* Lower the table header clone z-index */
}

.ht_clone_left {
  z-index: 1 !important; /* Lower the table header clone z-index */
}

.ht_clone_top_left_corner {
  z-index: 1 !important; /* or any value lower than your navbar */
}